.alert {
    border: 1px solid transparent;
    border-radius: 10px;
    padding: 12px 16px;
    font-size: 14px;
}

.alert--success {
    border-color: green;
    color: green;
}

.alert--error {
    border-color: red;
    color: red;
}

.alert--progress {
    border-color: blue;
    color: blue;
}

.alert--default {
    border-color: #e6e6e6;
    color: #8e8888;
}