.header {
    padding-top: 61px;
}

.back-button {
    cursor: pointer;
    transition: opacity 0.7s;

    display: flex;
    align-items: center;
    /* text-align: center; */
}

.back-button:hover {
    opacity: 0.7;
}

.back-button__title {
    width: 100px;
    text-align: center;
    margin-left: calc(50% - 65px);
    font-size: 20px;
    font-weight: 400;
}