@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;500;600&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*  */

:root {
  background-color: #ccc;
}

html {
  min-height: 100%;
  padding: 64px 0;
  display: grid;

}

body {
  margin: auto;
  display: flex;

  font-family: 'Jost', sans-serif;

  max-width: 393px;
  width: 100%;
  /* height: 100%; */

  background-color: #fff;

  border-radius: 24px;
}

.page {
  /* min-width: 393px;

  border-radius: 24px;
  display: flex;
  flex-direction: column; */

  display: grid;
  grid-template-rows: auto 1fr;
  /* gap: 32px; */
  /* padding: 32px 24px; */
  min-width: 393px;
  height: 100%;
}

.container {
  /* width: 100%; */
  padding: 0 20px 46px 20px;
  display: flex;
  flex-direction: column;
}

/*  */

.page__section {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
}

/*  */

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form__item {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.form__error {
  color: #F23152;
  font-size: 12px;
}

.form__error--active {
  display: block;
  color: #F23152;
}

.field {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.field__label {
  font-size: 14px;
  color: #1D1D1F;
}

.field__label--error {
  color: red !important;
  ;
}

.field__input {
  border: 1px solid #E9E8EB;
  /* background-color: s.color('box'); */
  padding: 16px;
  border-radius: 10px;
  font-size: 14px;
}

.field__input::placeholder {
  color: #ccc;
}

.field__input:focus {
  border-color: #775CE5;
}

/*  */

.alert {
  border: 1px solid transparent;
  border-radius: 10px;
  padding: 12px 16px;
  font-size: 14px;
}

.alert--success {
  border-color: green;
  color: green;
}

.alert--error {
  border-color: red;
  color: red;
}

.alert--progress {
  border-color: blue;
  color: blue;
}

.alert--disabled {
  display: none;
}


.validation--active {
  border-color: red !important;
}

.link {
  color: #775CE5;
  cursor: pointer;
  transition: opacity 0.7s;
}

.link :hover {
  opacity: 0.7;
}

.link__prefix {
  color: #1D1D1F;
}